params {
    container_image = 'carlosfarkas/lazyslide-histoplus:latest'
    docker_run_options = ''
    cpus = 8
    memory = '32 GB'
    time = '72h'
    include = '*'
    exclude = ''
}

process {
    executor = 'local'
    container = params.container_image
}

docker {
    enabled = false
    runOptions = params.docker_run_options ?: ''
}

profiles {
    docker_cpu {
        docker.enabled = true
        docker.runOptions = params.docker_run_options ?: ''
    }

    docker_gpu {
        docker.enabled = true
        docker.runOptions = "--gpus all ${params.docker_run_options ?: ''}".trim()
    }
}

report {
    overwrite = true
}

trace {
    overwrite = true
}

timeline {
    overwrite = true
}

dag {
    overwrite = true
}
